<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559821976435-sobe0rk8qa5k8fhcf0lb38jd9j8evimt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559821976435-sobe0rk8qa5k8fhcf0lb38jd9j8evimt</string>
	<key>API_KEY</key>
	<string>AIzaSyCqlV6DLe83FvvpmkLfpwH7KGYS-oM4m4M</string>
	<key>GCM_SENDER_ID</key>
	<string>559821976435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rcd</string>
	<key>PROJECT_ID</key>
	<string>rcd-app-bfa6e</string>
	<key>STORAGE_BUCKET</key>
	<string>rcd-app-bfa6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559821976435:ios:946d765ccb03e9c0828b06</string>
	<key>DATABASE_URL</key>
	<string>https://rcd-app-bfa6e.firebaseio.com</string>
</dict>
</plist>